<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Management App</title>
    <link rel="stylesheet" href="/static/nav/styles.css">
</head>
<body>
    <nav class="navbar" id="navbar">
        <div class="navbar-container">
            <a style = "text-decoration: none;" href="/home">
                <h1>Jet, Set, Go!</h1>
            </a>
            <ul class="nav-links">
            
                <li><a href="/route_planning">Route Planner</a></li>
            </ul>
        </div>
    </nav>

    <div class="home-container">
        <h2>Welcome to Jet, Set, Go!</h2>
        <div class="options-container">
            <div class="option-card" onclick="window.location.href='/flight_search';">
                <h3>Search Flights</h3>
                <p>Find the best flights for your next trip.</p>
            </div>
            <div class="option-card" onclick="window.location.href='/booking';">
                <h3>Skip</h3>
                <p>I wish to walk to my destination</p>
            </div>
        </div>
    </div>
</body>
</html>
