/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #edf2f7; /* Soft gray background */
    color: #2b2d42;
}

/* Navbar styles */
.navbar {
    background-color: #2b2d42; /* Darker shade for contrast */
    color: white;
    padding: 1rem 2rem;
}

.navbar h1 {
    margin: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0 20px;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    color: #8d99ae;
}

.nav-links li a:hover, .nav-links li a:focus {
    color: #ef233c; /* Bright accent color for interactivity */
}

a{
    color: inherit; /* Use the same color as the default text color */
}




/* Additional Styling for Visual Appeal */
.result-item img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Ensure images cover the area without stretching */
}

.hotel-price {
    font-size: 16px;
    color: #ef233c; /* Accent color for price */
    font-weight: bold;
    padding: 10px 15px;
}

.home-container {
    text-align: center;
    padding: 2rem;
}

.options-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.option-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 300px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.option-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.option-card h3 {
    color: #333;
    margin-bottom: 1rem;
}

.option-card p {
    color: #666;
}

@media (max-width: 768px) {
    .options-container {
        flex-direction: column;
    }
}
