<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking Cancellation</title>
    <link rel="stylesheet" href="/static/hotel_management/styles.css">
</head>
<body>

    <nav class="navbar" id="navbar">
        <div class="navbar-container">
            <a style = "text-decoration: none;" href="/home">
                <h1>Jet, Set, Go!</h1>
            </a>
            <ul class="nav-links">
            
                <li><a href="/route_planning">Route Planner</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <h2>Cancel Hotel Booking</h2>
        <form id="cancel-booking-form" class="cancel-form">
            <div class="form-group">
                <label for="booking-id">Hotel:</label>
                <input type="text" id="hotel" name="hotel" placeholder="Enter Hotel" required>
            </div>
            <div class="form-group">
                <label for="sdate">Start Date:</label>
                <input type="date" id="sdate" name="sdate" required>
            </div>
            <div class="form-group">
                <label for="edate">End Date:</label>
                <input type="date" id="edate" name="edate" required>
            </div>
            <button type="submit" class="cancel-button">Cancel Booking</button>
        </form>
        <div id="loading-indicator" class="loading hidden">Cancelling...</div>
        <div id="cancel-results" class="results hidden"></div>
    </div>

    <script src="/static/hotel_management/script.js"></script>
</body>
</html>
