/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #edf2f7; /* Soft gray background */
    color: #333;
}

/* Navbar styles */
.navbar {
    background-color: #2b2d42; /* Darker shade for contrast */
    color: white;
    padding: 1rem 2rem;
}

.navbar h1 {
    margin: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0 20px;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    /* color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; */
    color: #8d99ae;
}

.nav-links li a:hover, .nav-links li a:focus {
    color: #ef233c; /* Bright accent color for interactivity */
}

a:visited {
    color: inherit; /* Use the same color as the default text color */
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
    border-radius: 8px; /* Rounded corners for a modern look */
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: .5rem;
}

input[type="text"], input[type="date"], input[type="number"], select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px; /* Matching rounded corners */
    box-sizing: border-box;
}

.search-button {
    background-color: #ef233c; /* Bright accent color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px; /* Consistent rounded corners */
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.search-button:hover {
    background-color: #d90429; /* Slightly darker on hover */
}

/* Adjustments for responsiveness and visual appeal */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }
}